/* Colors
light Blue Gray #85a5c0 rgb(133, 165, 192)
Steel Blue #4682b4 rgb(70, 130, 180)
Dim Blue #325d81 rgb(50, 93, 129)
BlueBlack #142634 rgb(20, 38, 52)
Charcoal #242d34 rgb(36, 45, 52)

Font Families
font-family: 'Limelight', fantasy; -- use for BIG HEADERS
font-family: 'Goudy Bookletter 1911', serif; --use for body copy
font-family: 'News Cycle', sans-serif; --use for smaller headers
font-family: 'Oswald', sans-serif; -- use for data if needed

*/

/*base*/
body{
  background: url('images/abstractRain.png') no-repeat center center fixed;
  background-size: cover;
  color: #85a5c0;
  font-family: 'Goudy Bookletter 1911', serif;
}
h1, h2{
  font-family: 'Limelight', fantasy;
}
h1{
  font-size: 40px;
  text-align: center;
}
img{
  height: 100%;
  width: 100%;
  object-fit: contain
}
h3,h4,h5{
  font-family: 'News Cycle', sans-serif;
}
/*layout*/
header{
  background-color: rgba(70, 130, 180, 0.60);
}

/*module*/
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
.projectLinks, .siteNav{
  font-family: 'News Cycle', sans-serif;
}
.siteNav{
  float:right;
  text-align: right;
}
.siteNav li{
  padding: 5px;
}
.navItem{
  display: none;
}
.ellipsis-v{
  display: block;
}
.project{
  background-color: rgba(70, 130, 180, 0.60);
  margin: 25px 0;
}
.projectPictureBox{
  float: left;
  clear:both;
  max-width: 100%;
}
.projectTextBox{
  width: 100%;
}
.tabBox{
  display:none;
}
/*state*/
.siteNav:hover li{
  display: block;
}

@media only screen and (min-width: 640px){
  .ellipsis-v {
    display: none;
  }
  .navItem,
  .siteNav:hover li {
    display: inline-block;
  }
  .siteNav:hover .ellipsis-v {
    display: none;
  }
}
