/* Colors
light Blue Gray #85a5c0
Steel Blue #4682b4
Dim Blue #325d81
BlueBlack #142634
Charcoal #242d34

Font Families
font-family: 'Limelight', fantasy;
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Oswald', sans-serif;
font-family: 'News Cycle', sans-serif;
*/

body{
  background: url('images/abstractRain.png') no-repeat center center fixed;
  background-size: cover;
  color: #85a5c0;
}
h1{
  font-family: 'Limelight', fantasy;
  font-size: 40px;
  text-align: center;
}
.fa-ellipsis-v{
  padding: 20px;
}
