/* Colors
light Blue Gray #85a5c0 rgb(133, 165, 192)
Steel Blue #4682b4 rgb(70, 130, 180)
Dim Blue #325d81 rgb(50, 93, 129)
BlueBlack #142634 rgb(20, 38, 52)
Charcoal #242d34 rgb(36, 45, 52)

Font Families
font-family: 'Limelight', fantasy;
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Oswald', sans-serif;
font-family: 'News Cycle', sans-serif;
*/

body{
  background: url('images/abstractRain.png') no-repeat center center fixed;
  background-size: cover;
  color: #85a5c0;
}
h1{
  font-family: 'Limelight', fantasy;
  font-size: 40px;
  text-align: center;
}
header{
  background-color: rgba(70, 130, 180, 0.25);
}
.fa-ellipsis-v{
  padding: 20px;
}
